<h1>Edit Post</h1>

<form id="edit-post">

  <input type="text" name="post[title]" value="<%= post.get('title') %>">

  <input type="text" name="post[body]" value="<%= post.get('body') %>">

<button id="edit-post-button">Submit</button>

</form>
