<h1>Goals</h1>

<% @goals.each do |goal| %>
  <%= goal.title %>
  <%= goal.content %>
  <% if goal.user == current_user %>
    <%= link_to "Edit", edit_goal_url(goal), id: "edit-#{goal.id}" %>
    <%= button_to "Delete", goal_url(goal), id: "delete-#{goal.id}", method: "delete" %>
    <br>
  <% end %>

<% end %>
