/* PHASE 1: Header */

body {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: #eee;
}

header {
  position: relative;
  background: #f00;
  color: #fff;
  border-bottom: 1px solid #ccc;
}

.header-nav {
  width: 900px;
  margin: auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.header-logo {
  font-weight: 700;
  float: left;
  border-right: 1px solid #ccc;
}

.header-nav a {
  display: block;
  padding: 10px 20px;
}

.header-list {
  float: right;
}

.header-list > li {
  float: left;
  border-left: 1px solid #ccc;
}

.header-nav a:hover {
  background: #000;
}
