<h1> MAKE A NEW ACCOUNT </h1>

<%= @user.errors.full_messages %>

<form action="<%= users_url %>" method="POST">
  <input type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>">

  <label for="email">Email</label>
  <input type="text" name="user[email]" id="email">
  <br>

  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password">
  <br>

  <input type="submit" value="Create a user">

</form>
